<h2>Images Index</h2>

<ul>
  <% @images.each do |image| %>

  <li>
    <a href="/images/<%= image.id %>"><%= image.url %></a>

    <a data-method="delete" href="/images/<%= image.id %>">Delete</a>
  </li>

<% end %>

</ul>
